*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin:0;
    font-family: sans-serif;
    padding:0;
}
.mid{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}

.flex-container{
    display:flex;
    justify-content:center;
}
body{
    min-width: 783px;
}

/************** colori **********+*/

.light_blue{
    background-color: rgb(38, 94, 232);
}
.black{
    background-color: rgb(35, 39, 42);
    color:white;    
}

/************** prima sezione **********+*/

.title{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding:1rem 0;
}
.link,.login{
    padding:0.5rem;
    width:10%;
}

.link{
    width:20%;
    text-align: center;
    color:white;
}

.flex-container-header{
    display: flex;
    justify-content: space-between;
    width:50%;
}
.sfondo1{
    background-image:url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    min-height:550px;
}

.container{
    width:50%;
    text-align: center;
}
.download-center{
    align-items: center;
    min-height:550px;
}
button{
    padding:0.8rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    margin:1rem;
}
p{
    line-height:1.5rem;
}
h1{
    padding:1rem;
}
/*************** seconda sezione *****************/

.container2,.container3{
    min-height:20rem;
}
.container3{
    width:30%;
    margin-top:calc(1rem + 3px);
}
/**************** quinta sezione ******************/

.container4{
    min-height:30rem;
    width:100%;
}

/**************** footer *******************/

.container5,.container6,.flex-container2{
    min-height:20rem;
}

.container5{
    width:calc((100% / 6)*2);
}
.flex-container2{
    width:calc((100% / 6)*4);
    display:flex;
    justify-content:space-between;
}
.container6{
    width:calc(100% / 4);
}

.flex-container3{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
}

